.section1 {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: #000000;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-weight: 800;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
}
.section1 > h1 {
  text-align: center;
}

.status {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  text-align: center;
  background-color: var(--black1);
  padding: 20px 10px;
  width: 100%;
  border-radius: 15px;
  border: 0.1px solid #575757;
}

.status > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  font-weight: 300;
}

.status > .active_status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  font-weight: 500;
  color: var(--orange);
}

.status > div > h1 {
  font-size: 10px;
}

.status > div > p {
  font-size: 10px;
}

.payment-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  gap: 10px;
}

.status-user {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
}

.contain-button_item_home {
  width: 100%;
  padding: 4px;
  background: #181818;
  border-radius: 5px;
  border: 1px solid #787878;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.child-button {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.child-button_qr {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.child-button_qr button {
  width: 50%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  background-color: var(--black1);
  /* border: 0.1px solid #575757; */
}

.child-button_qr button:active,
.contain-button_item_home:active,
.referal-contain > div:active {
  color: #fdb602;
}

.button-payment_home {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--black1);
}

.button-payment_home button {
  color: #fdb602;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 400;
  gap: 5px;
}

.asman_coin_button img {
  width: 40px;
}

.asman_coin_button div {
  border-radius: 50%;
  border: 2px solid #e2af40;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-payment_home button > span {
  color: white;
}

.status-user {
  padding: 10px 0;
  color: var(--orange);
}

.referal-contain {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  font-weight: 400;
}

.referal-contain > div {
  width: 100%;
  height: 50px;
  background-color: var(--black1);
  /* border: 0.1px solid #575757; */
  border-radius: 5px;
  padding: 0 20px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skeleton-status {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  width: 100%;
}

.skeleton-status div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  font-weight: 300;
}

.text-referal-home_page_main {
  color: #000000;
  font-weight: 800;
  font-size: 20px;
  margin-top: 50px;
}

.text-referal-home_page {
  color: #000000;
  font-size: 15px;
  margin-top: 10px;
}

.asman-coin-contain {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #000000;
  gap: 10px;
}

.asman-coin-referal {
  width: 200px;
}

.asman-coin-contain div {
  width: 100%;
  height: 140px;
  border-radius: 10px;
  background-color: #cfcfcf;
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.asman-coin-contain div p {
  font-size: 10px;
}

.asman-coin-contain button {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  background-color: var(--orange);
  color: white;
}

.button-referal-home_page {
  cursor: pointer;
}

.copyed-referal {
  color: green;
  position: absolute;
  top: 5px;
}
