.section1 {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: #000000;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-weight: 800;
  padding-bottom: 100px;
}
.section1 > h1 {
  text-align: center;
}

.status {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  width: 100%;
  text-align: center;
}

.status > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  font-weight: 300;
}

.status > .active_status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  font-weight: 500;
  color: var(--orange);
}

.status > div > h1 {
  font-size: 10px;
}

.status > div > p {
  font-size: 10px;
}

.payment-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  gap: 10px;
}

.contain-button_item_home {
  width: 100%;
  padding: 4px;
  background: #181818;
  border-radius: 5px;
  border: 1px solid #787878;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.child-button {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.child-button_qr {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  padding: 0 20px;
}

.child-button_qr button {
  width: 50%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  background: #181818;
  border: 0.1px solid #575757;
}

.child-button_qr button:active,
.contain-button_item_home:active,
.referal-contain > div:active {
  color: #fdb602;
}

.button-payment_home {
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.button-payment_home button {
  color: #fdb602;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 400;
  gap: 5px;
}

.button-payment_home button > span {
  color: white;
}

.status-user {
  padding: 10px 0;
  color: var(--orange);
}

.referal-contain {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding: 0 20px;
  font-weight: 400;
}

.referal-contain > div {
  width: 100%;
  height: 50px;
  background-color: #181818;
  border: 0.1px solid #575757;
  border-radius: 5px;
  padding: 0 20px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skeleton-status {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  width: 100%;
}

.skeleton-status div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  font-weight: 300;
}
