.section-payments {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: #000000;
  padding: 20px 30px 100px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-payments_items {
  color: white;
  font-weight: 300;
  border: 1px solid var(--black1);
  border-radius: 10px;
  padding: 5px;
}

.section-payments_items div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--black1);
  padding: 10px 0;
  width: 100%;
}

.section-payments_items > h1 {
  font-size: 11px;
  color: #999999;
  padding: 10px;
}

.detail_count_status {
  display: flex;
  align-items: center;
  gap: 5px;
}
