.ads_detail {
  width: 100%;
  padding-bottom: 100px;
}

.ads_detail .head_detail {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border);
  padding: 0 20px;
}

.ads_detail .slick-dots {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 35px;
  width: 70%;
  height: 20px;
  overflow: hidden;
}

.ads_detail .slick-dots li {
  display: inline-block;
  margin: 0 auto;
}

.ads_detail .contants {
  padding: 0 20px;
  padding-top: 10px;
}

.ads_detail .box_slide div {
  outline: none;
}

.ads_detail .between {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ads_detail .flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ads_detail .id {
  font-size: 15px;
  font-weight: 300;
  color: var(--black1);
}

.ads_detail .loves {
  width: 24px;
  height: 24px;
}

.ads_detail .title {
  font-size: 24px;
  font-weight: 500;
  color: var(--black1);
  line-height: 1;
  margin: 10px 0;
}

.ads_detail .prices {
  text-align: end;
  font-size: 24px;
  font-weight: 600;
  color: #ff9900;
}

.ads_detail .user {
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  padding: 15px 0;
  margin: 15px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.ads_detail .ads_detail_photo {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

.ads_detail .user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.ads_detail .ovar_boxs {
  padding: 15px 0;
  display: flex;
  overflow-y: hidden;
  background: transparent;
  gap: 8px;
}

.ads_detail .ovar_boxs .box_markets {
  width: 150px !important;
}

.ads_detail .ovar_boxs .box_markets:first-child {
  margin-left: 20px;
}

.ads_detail .ovar_boxs .box_markets:last-child {
  margin-right: 20px;
}

.ads_detail .ovar_boxs .max-widht-box {
  width: 150px !important;
  height: 150px;
}

.ads_detail .user_title {
  font-size: 16px;
  font-weight: 400;
  color: var(--black1);
}

.ads_detail ::-webkit-scrollbar {
  display: none;
}
