.card_box {
  width: 150px;
  height: 200px;
  border-radius: 8px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
}

.card_box:first-child {
  margin-left: 20px;
}

.card_box:last-child {
  margin-right: 20px;
}

.card_box .max {
  width: 150px;
}

.card_box .box_slide {
  width: 150px;
  outline: none;
}

.card_box .slick-dots {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 35px;
  width: 70%;
  height: 20px;
  overflow: hidden;
}

.card_box .slick-dots li {
  display: inline-block;
  margin: 0 auto;
}

.card_box .box_slide div {
  outline: none;
}

.card_box .card_image {
  border-radius: 8px 8px 0 0;
  width: 150px;
  height: 120px;
  object-fit: cover;
  object-position: center;
}

.card_box .contant {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_box .contant h3 {
  font-size: 16px;
  font-weight: 400;
  color: var(--black1);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  max-height: 2.4em;
  line-height: 1.2em;
}

.card_box .contant .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_box .price {
  font-size: 14px;
  font-weight: 500;
  color: var(--yellow);
}

.card_box .cart {
  padding: 2px;
  border-radius: 3px;
  border: 1px solid var(--border);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_box .cart .icond {
  font-size: 18px;
  color: var(--yellow);
}

.card_box .love {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 24px !important;
  height: 24px !important;
  z-index: 3;
}

.card_box .slider_dot-beck {
  position: relative;
}

.card_box .slick-arrow.slick-next {
  position: absolute;
  top: 0;
  right: 0;
}

.card_box .slick-arrow.slick-next::before {
  position: absolute;
  top: 110px;
  right: 10px;
  content: url("../../../views/market/next.svg");
}

.card_box .slick-arrow.slick-prev {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 12;
}

.card_box .slick-arrow.slick-prev::before {
  position: absolute;
  top: 110px;
  left: 10px;
  content: url("../../../views/market/prev.svg");
}
