.images {
  background: url(../covers/top.png);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  padding-top: 60px;
}

.coin {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coin img {
  width: 180px;
}

.submit h1 {
  text-align: center;
  font-weight: 800;
  margin-bottom: 20px;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-top: 20px;
  width: 300px;
  margin: 0 auto;
}

.inputs input {
  width: 320px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 16px;
  background-color: #e5e5e5;
  padding-left: 20px;
  font-size: 18px;
}

.link {
  text-decoration: none;
  color: #535353;
  align-self: flex-end;
}

.sign-in {
  width: 320px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 16px;
  background-color: #e48a21;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.password {
  position: relative;
}

.span-icon {
  position: absolute;
  top: 17px;
  right: 15px;
  cursor: pointer;
}

.footer-text {
  padding-top: 30px;
  text-align: center;
}

.register {
  color: #e48a21;
}
