.balance-card {
  width: 90%;
  height: 155px;
  border-radius: 15px;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  padding: 15px;
  margin: 20px 0;
}

.balance-card h1 {
  font-weight: 100;
}

.balance-card h2 {
  font-size: 30px;
  display: flex;
  align-items: center;
  gap: 2px;
  font-weight: 500;
}

.coin-img {
  width: 45px;
}

.curs-usdt {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 10px;
}
