.balance-card {
  width: 370px;
  height: 100px;
  border-radius: 10px;
  background: linear-gradient(to right, #e2a332, #eeca93, #ffc342);
  /* background-color: #e2a332; */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.balance-card > div > h2 {
  font-weight: 900;
  font-size: 20px;
}

.coin-asman {
  font-size: 16px;
  font-weight: normal;
}

.curs-usdt h1 {
  font-size: 12px;
}

.coin-img {
  width: 100px;
}


