.images3 {
  width: 100%;
  height: 100vh;
  padding-top: 150px;
  background-color: var(--black);
  color: white;
}

.coin3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coin3 img {
  width: 180px;
}

.submit3 h1 {
  text-align: center;
  font-weight: 800;
  margin-bottom: 20px;
  font-size: 13px;
  padding: 0 30px;
}

.inputs3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-top: 20px;
  width: 300px;
  margin: 0 auto;
}

.inputs3 input {
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 10px;
  padding-left: 20px;
  font-size: 18px;
  background: none;
  border: 1px solid #7c7c7c;
}

.inputs3 input:focus {
  border: 1px solid #e48a21;
  transition: 0.4s;
}

.link3 {
  text-decoration: none;
  align-self: flex-end;
  color: #7c7c7c;
}

.sign-in3 {
  width: 320px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #e48a21;
  color: white;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.password3 {
  position: relative;
}

.span-icon3 {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.footer-text3 {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.register3 {
  color: #e48a21;
}

.inputs-1 {
  display: flex;
  gap: 5px;
}
