@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

button {
  outline: none;
}

input {
  outline: none;
}

:root {
  --black1: #181a20;
  --black: #000;
  --orange: #e48a21;
  --gray: #d1d1d2;
}
