@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

button {
  outline: none;
}

input {
  outline: none;
}

:root {
  --white: #fff;
  --black1: #1c1b1e;
  --black: #050506;
  --orange: #e48a21;
  --gray: #d1d1d2;
  --border: #dadada;
  --gray-color: #868790;
  --yellow: #ff9f0e;
}
